
<div class="jumbotron">
    <h1 class="display-4">Hello User</h1>
    <p class="lead">Employee Details can be updated here</p>
    <hr class="my-4">
    <p>For any query click the link below</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <div class = "container">
      <div class = "row">
          <div class = "col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Employee</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Employee Login</h6>
                 
                 <button  routerLink = "emp" class = "btn btn-primary">Login</button>
                </div>
              </div>
          </div>
          <div class = "col-md-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Admin</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Admin Login</h6>
                  <button  routerLink = "admin" class = "btn btn-primary">Login</button>
                </div>
              </div>
          </div>
      </div>
  </div>